<ag-grid-angular
style="width: 500px; height: 500px"
class="ag-theme-alpine"
[rowData]="rowData"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[autoGroupColumnDef]="autoGroupColumnDef"
[groupSelectsChildren]="true"
suppressRowClickSelection="true"
rowSelection="multiple"
[suppressAggFuncInHeader]="true"
[animateRows]="true"
enableRangeSelection="true"
suppressHorizontalScroll="false"
enableMultiRowDragging="true"
(gridReady)="onLeftGridReady($event)"
(rowDragMove)="onRowDragMove($event)"
></ag-grid-angular>

<ag-grid-angular
style="width: 500px; height: 500px"
class="ag-theme-alpine"
[rowData]="rowData"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[autoGroupColumnDef]="autoGroupColumnDef"
[groupSelectsChildren]="true"
rowSelection="multiple"
[suppressAggFuncInHeader]="true"
[animateRows]="true"
suppressHorizontalScroll="true"
enableMultiRowDragging="true"
(gridReady)="onRightGridReady($event)"
(rowDragMove)="onRowDragMove($event)"
(rowDragEnd)="onRowDragEnd($event)"
></ag-grid-angular>